
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

h1 {
  color: #69696b;
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 10px;
}

Link{
  text-decoration: none;
}
.contHeader {
  background-color: #eae5e2;
  position: relative;
  display: flex;
}
.header{
  display: flex;
  margin: 0px auto 0px auto;
  flex-direction: column;
}

/* Filter */
.contFilter {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.btnFilter {
  border: none;
  background-color: #959ead;
  color: #f0f0f3;
  padding: 10px;
  border-radius: 10px;
  width: 100px;
  box-shadow: 5px 5px 15px 2px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
}
.btnFilterSelected{
  background-color: #4e5563;
}

.btnFilter:hover {
  background-color: #eae5e2;
  color: #636161;
}

/* Items */
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemEach {
  margin: 30px 0px 30px 0px;
  box-shadow: 2px 2px 10px 2px;
  color: #69696b;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}
.eachImg{
  position: relative;
  width: 400px;
  height: 300px;
}
.eachHeart{
  position: absolute;
  margin-left: -50px;
}
.eachHeartPushed{
  fill: #ad6f51;
}

.contBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.btn {
  color: #656464;
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}


/* Cart */
.cart {
  position: absolute;
  top: 20px;
  right: 10px;
  color: #69696b;
  }
  .headerCart{
    font-size: 30px;
  }
.cartComonent{
font-family: 'Source Code Pro', monospace;
text-align: center;
}
.cartItem{
  text-align: center;
  display: flex;
  justify-content: space-around;
  box-shadow: 2px 2px 10px 2px;
  align-items: center;
  font-family: 'Source Code Pro', monospace;
  margin-top: 20px;
}
.cartImg{
  width:300px;
  height:220px;
}
.checkoutBtn{
  padding: 10px;
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
  background-color: #959ead;
  border-radius: 20px;
  border: none;
  margin-bottom: 30px;
}



/* payContainer */
.payContainer{
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px auto;
 
}
.form{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
input{
  padding: 4px;
    font-family: 'Source Code Pro', monospace;
}
form{
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

/* LOGIN */

.loginBtn{
  width: 100px;
  margin: auto;
  padding: 10px;
  border: none;
  background-color: 
  #4a505e;
  color: #eae5e2;
  margin-top: 10px;
}


/* OFFER */
.oldPrice{
text-decoration: line-through;

}
.newPrice{
font-size: 25px;
color: rgba(106, 56, 56, 0.986);
}


@media all and (max-width:800px){
   .contFilter{
 margin: auto;
    flex-direction: column;
   }
   .btnFilter {
    width: 150px;
    margin-bottom: 3px;
    
  }
  .eachImg{
    width: 100vw;
    height: auto;
  }
  .cartImg{
    width:100px;
    height:auto;
  }
  .cartItem{
    text-align: center;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    box-shadow: 2px 2px 10px 2px;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    margin-top: 20px;
  }
  .nameCont{
width: 50px;
  }
}
